@using UniversityRegistrar.Models;

@{
  Layout = "_Layout";
}

<div class="container">
<h3>Add a Course to the Database</h3>
    <form action="/university/newcourse" method="post">
        <label for="name">Course Name:</label>
        <input id="name" name="name" type="text" required><br><br>
        <label for="code">Course Code:</label>
        <input id="code" name="code" type="text" required><br><br>
        <button id="courseButton"class="btn btn-primary btn-lg" type="submit">Add a Course</button>
    </form>
</div>
<div>
    <ul>
    @foreach (CourseClass course in @Model)
    {
        <li><a href="/university/course/@course.GetId()">@course.GetName() | @course.GetCode()</a></li>

    }
    </ul><br><br>
    <a href="/">Home Page</a>

</div>