@{
  Layout = "_Layout";
}

<div class="container">
<h3>Add a Student to the Database</h3>
    <form action="/university/newstudent" method="post">
        <label for="name">Student Name:</label>
        <input id="name" name="name" type="text" required><br>
        <label for="date">Date of Enrollment:</label>
        <input id="date" name="date" type="date" required><br>
        <button id="studentButton"class="btn btn-primary btn-lg" type="submit">Add a Student</button>
    </form>
    <a href="/">Home Page</a><br>
</div>
