@{
  Layout = "_Layout";
}

<div class="container">
<h3>University Home Page</h3>
    <a href="/university/newstudent">View/Add Students</a><br>
    <a href="/university/newcourse">View/Add Courses</a><br>
    <a href="/university/assign">Assign Students to Courses</a>
</div>
