@{
  Layout = "_Layout";
}

<div class="container">
<h3>University Home Page</h3>
    <a href="/university/newstudent">View/Add Students</a><br>
    <a href="/university/newcourse">View/Add Courses</a><br>
    <a href="/university/newdepartment">View/Add Department</a><br>
    <a href="/university/assign">Assign Students to Courses</a><br>
    <a href="/university/assignstudents">Assign Students to Departments</a><br>
    <a href="/university/assigncourses">Assign Courses to Departments</a><br>
</div>
